div.wrapper
  - const _team = team.toUpperCase();
  p.headline The best NBA player's name is #{name}.
  p #{name} plays for the #{_team}.
  img(src='http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png&w=350&h=254' alt=`${name}`)
