extends layout

include mixins/_storeCard

block content
  .inner
    h2 #{title}
      if stores.length > 0
        .stores
          each store in stores
            +storeCard(store)
      else
        p There are no stores yet! Add one now.
